In [11]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# setting options
pd.set_option('display.max_columns', None)
pd.set_option("display.float_format", "{:.2f}".format)

In [14]:
# loading the dataset
df = pd.read_csv('data.csv', sep=',')
df.head(10)

  Country  Year  Life expectancy at birth (years)             GDP
0   Chile  2000                             77.30  77860932152.00
1   Chile  2001                             77.30  70979923960.00
2   Chile  2002                             77.80  69736811435.00
3   Chile  2003                             77.90  75643459840.00
4   Chile  2004                             78.00  99210392858.00
5   Chile  2005                             78.40 122965000000.00
6   Chile  2006                             78.90 154788000000.00
7   Chile  2007                             78.90 173606000000.00
8   Chile  2008                             79.60 179638000000.00
9   Chile  2009                             79.30 172389000000.00

In [16]:
# inspecting the dataset
print(df.shape)
print(df.info())

(96, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           96 non-null     object
 1   Year                              96 non-null     int64
 2   Life expectancy at birth (years)  96 non-null     float64
 3   GDP                               96 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB
None